body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 200px;
  background: #f7f7f7;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 0.5rem 0;
  cursor: pointer;
}

.sidebar li.active {
  font-weight: bold;
}

.gallery {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.photo {
  width: 250px;
  object-fit: cover;
  height: auto;
  transition: 0.3s ease;
}